<form action="/auth/signup" method="post">
 {{> flash_message}}
  <label for="name">Name</label>
  <input type="text" name="name" />

  <label for="email">Email</label>
  <input type="text" name="email" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  <button>Sign Up</button>
</form>