<form action="/auth/signin" method="post">
 {{> flash_message}}

  <label for="email">Email</label>
  <input type="text" name="email" value="melimelo@melo.com" />

  <label for="password">Password</label>
  <input type="password" name="password" value="1234"/>

  <button>Sign In</button>
</form>