{{#if success_msg}}
<div class="flash-msg success">
    {{success_msg}}
</div>
{{/if}}
{{#if warning_msg}}
<div class="flash-msg warning">
    {{warning_msg}}
</div>
{{/if}}
{{#if error_msg}}
<div class="flash-msg error">
    {{error_msg}}
</div>
{{/if}}