<header>
  <a href="/"><img src="/img/logo.jpg" alt="logo" id="irongramLogo"></a>
</header>

  {{!-- Events --}}

<div class="eventPreview">
  {{#each events}}
    <div class="oneEventPreview"><a href="/events/{{_id}}"><img src="{{this.image}}"></a></div>
  {{/each}}
</div>
