<div class="searcharea">
  <input
    type="search"
    id="search"
  placeholder="&#xf002 Search" 
    class="search-form"
  />
  <div id="container-search">
    <div id="result-search-bar">
      <div id="list-result-search">

      </div>
    </div>
  </div>
</div>