<form action="/posts/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="image" />
  <button>Add</button>
</form>
<div class="container-images">
  {{#each posts}}
    <a href="/posts/:id">
      <img src="{{this.urlMedia}}" class="images-profiles" />
    </a>
  {{/each}}
</div>