<h1>Create</h1>
<div id="container-image">

  <img
    src="{{post.urlMedia}}"
    id="image-uploaded"
    name="image"
    data-id="{{post._id}}"
    data-fileName="{{post.fileName}}"
    alt="image-create"
    width="550px"
  />
  <div id="filters">
    <div data-filter="al_dente" class="filter">al_dente</div>
    <div data-filter="athena" class="filter">athena</div>
    <div data-filter="audrey" class="filter">audrey</div>
    <div data-filter="aurora" class="filter">aurora</div>
    <div data-filter="daguerre" class="filter">daguerre</div>
    <div data-filter="eucalyptus" class="filter">eucalyptus</div>
    <div data-filter="fes" class="filter">fes</div>
    <div data-filter="hairspray" class="filter">hairspray</div>
    <div data-filter="hokusai" class="filter">hokusai</div>
    <div data-filter="incognito" class="filter">incognito</div>
    <div data-filter="primavera" class="filter">primavera</div>
    <div data-filter="red_rock" class="filter">red_rock</div>
    <div data-filter="refresh" class="filter">refresh</div>
    <div data-filter="sizzle" class="filter">sizzle</div>
    <div data-filter="sonnet" class="filter">sonnet</div>
    <div data-filter="ukulele" class="filter">ukulele</div>
    <div data-filter="zorro" class="filter">zorro</div>
  </div>
  <a href="/posts">Valider</a>
  <a href="/posts/delete/{{post._id}}">Annuler</a>
</div>