<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel='stylesheet' href='/css/style.css' />
  {{#each css}}
  <link rel='stylesheet' href='/css/{{this}}' />
  {{/each}}
  <script type="module" src="/js/index.js" ></script>
  {{#each js}}
  <script type="module" src="/js/{{this}}" ></script>
  {{/each}}
  <title>IRONGRAM</title>
</head>

<body>
  {{> nav}}
  {{{body}}}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD51fyb8YoARmOh-sDmuC6f2hbfN1zMhs8&libraries=places&callback=initAutocomplete" async defer></script>

</body>
</html>