a {
  color: black;
}

/* All events page */

.allEventsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}

#createEventBtn {
  padding: 5px 30px 5px 30px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #e0e6ef;
  box-sizing: border-box;
  color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
}

.eventListImg {
  width: 400px;
  height: 360px;
  object-fit: cover;
  margin: 20px;
  border-radius: 10px;
}

/* Each event div */

h1,
h2 {
  margin: 15px 0;
}

p {
  margin-bottom: 15px;
  margin-left: 10px;
}

.eventDiv {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  gap: 20px;
  height: 400px;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
  border-radius: 4px;
  padding-right: 20px;
}

.evtDetailDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.eventDetail {
  margin: 20px;
}

.eventImg {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

#joinBtnInDetail {
  padding: 20px 50px;
  border-radius: 4px;
  background: #2bc5fa;
  color: white;
  border: 0;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
}

.edtiDiv {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 10px;
  margin: 20px 0;
}

.editDeleteBtn {
  padding: 5px 30px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #e0e6ef;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 14px;
}

/* Event create / update form */

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #e0e6ef;
  backdrop-filter: blur(100px);
  border-radius: 21px;
}

.inputForm {
  margin-top: 50px;
}

.inputForm label {
  font-weight: bold;
  margin-right: 10px;
}

.inputForm input {
  padding: 5px 30px 5px 30px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #e0e6ef;
  box-sizing: border-box;
  color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  width: 500px;
}

.inputForm button {
  padding: 5px 30px 5px 30px;
  margin-top: 20px;
  border-radius: 4px;
  background: #00c2ff;
  border: 1px solid #00c2ff;
  box-sizing: border-box;
  color: white;
  width: 139px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  margin-bottom: 0px;
  cursor: pointer;
  align-self: center;
}

.event-create,
.event-update {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.description {
  height: 100px;
}

/* buttons */

#confirmForDelete,
#joinList {
  background-color: white;
  display: none;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 400px;
  position: absolute;
  top: 35%;
  left: 40%;
  padding: 20px 0 10px 0;
  text-align: center;
}

table {
  width: 100%;
  padding: 15px;
  border-top: 1px solid lightgray;
  margin-top: 20px;
  font-weight: 600;
}

table a {
  color: #2bc5fa;
}

/* join list */

#list-members {
  margin-top: 20px;
}

#closeJoinList {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* MEl */

.content-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
}
.content-input label {
  font-weight: 600;
  width: 100px;
}
.content-input input[type="“text”"],
input[type="“password”"] {
  padding: 5px 30px 5px 30px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #e0e6ef;
  box-sizing: border-box;
  color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  width: 250px;
}

input#image {
  background-color: transparent;
  border: 0;
  padding: 0;
}     
