/* Event CSS : Starts from here (Minyoung edited) */

* {
    text-decoration: none;
    list-style-type: none;
    /* border: 1px solid grey; */
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;

    padding: 30px;

    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #E0E6EF;
    backdrop-filter: blur(100px);
    border-radius: 21px;
}

a {
    color: black;
}

/* All events page */

.allEventsHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 50px;
}

#createEventBtn {
    /* border: 1px solid lightgray; */
    padding: 5px 30px 5px 30px;

    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
    color: black;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
}

/* Each event div */

.eventDiv {
    padding: 5px 30px 5px 30px;

    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
    color: black;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
}

.eventImg {
    width: 350px;
    padding: 20px;
    object-fit: cover;
}

/* Event create / update form */

.inputForm label {
    font-weight: bold;
}

.inputForm input {
    padding: 5px 30px 5px 30px;

    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #e0e6ef;
    box-sizing: border-box;
    color: black;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
}

.inputForm button {
    padding: 5px 30px 5px 30px;
    margin-top: 20px;
    border-radius: 4px;
    background: #00c2ff;
    border: 1px solid #00c2ff;
    box-sizing: border-box;
    color: white;
    width: 139px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 0px;
    cursor: pointer;

    align-self: center;
}

.event-create,
.event-update {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.description {
    height: 100px;
}

.inputPage {
    display: flex;
    flex-direction: row;
}

#confirmForDelete,
#joinList,
#maybeList {
    background-color: white;
    display: none;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 40%;
    padding: 10px 0;
    text-align: center;
}

table {
    width: 100%;
}

td {
    padding: 20px;
}

.tdUnderline {
    border-bottom: 1px solid lightgray;
}

.content-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
}

.content-input label {
    font-weight: 600;
    width: 100px;
}

.content-input input[type="text"],
input[type="password"] {
    padding: 5px 30px 5px 30px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #E0E6EF;
    box-sizing: border-box;
    color: black;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    width: 250px;
}