/* Event CSS : Starts from here (Minyoung edited) */

* {
  text-decoration: none;
  list-style-type: none;
  /* border: 1px solid grey; */
}

a {
  color: black;
}

/* All events page */

.allEventsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 50px;
}

#createEventBtn {
  /* border: 1px solid lightgray; */
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 15px;
  background-color: #2bc5fa;
  color: white;
  width: 200px;
  text-align: center;
  padding: 10px;
}

/* Each event div */

.eventDiv {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  gap: 30px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px lightgray;
  padding-right: 20px;
}

.eventImg {
  width: 350px;
  padding: 20px;
  object-fit: cover;
}

/* Event create / update form */

.inputForm label {
  font-weight: bold;
}

.inputForm input {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 0;
  box-shadow: 5px 5px 5px lightgray;
  margin: 10px 0 20px 0;
}

.inputForm button {
  background-color: #2bc5fa;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  box-shadow: 5px 5px 5px lightgray;
  color: white;
  margin: 10px 0 50px 120px;
}

.event-create,
.event-update {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}

.description {
  height: 100px;
}

.inputPage {
  display: flex;
  flex-direction: row;
}

#confirmForDelete,
#joinList,
#maybeList {
  background-color: white;
  display: none;
  border: 1px solid lightgray;
  border-radius: 20px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 40%;
  padding: 10px 0;
  text-align: center;
}

table {
  width: 100%;
}

td {
  padding: 20px;
}

.tdUnderline {
  border-bottom: 1px solid lightgray;
}