.gameList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 50px;
  padding-top: 20px;
  margin: 50px 0;
}

.game {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgray;
  padding: 10px;
}

.game img {
  height: 500px;
}

.game p {
  margin: 20px;
  font-size: 1.2rem;
  font-weight: 500;
}
