* {
  text-decoration: none;
  list-style-type: none;
}

.gameList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin-bottom: 50px;
}

.game {
  background-color: white;
  border-radius: 15px;
  box-shadow: 5px 5px 5px lightgray;
  padding: 10px;
}

.game img {
  height: 500px;
}
