@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
#container-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  padding: 76px 36px 76px 0;
  width: 960px;
  margin: 0 auto;
  margin-top: 200px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  border-radius: 32px;
}
#container-image #image-uploaded {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.controls-filters {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding: 15px;
  background: rgba(245, 245, 245, 0.6);
  border-radius: 25px;
  backdrop-filter: blur(150px);
  border-radius: 32px;
}
.content-image {
  display: flex;
  flex-direction: column;
}
.content-image #description {
  margin-top: 10px;
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  border: none;
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 7px rgba(156, 156, 156, 0.48);
}
.input-range-image {
  width: 100%;
  border-radius: 25px;
}
.range-input {
  width: 100%;
}

.inner-range {
  width: 331px;
  padding: 4px 14px;
  background: #ffffff;
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 7px rgb(156 156 156 / 48%);
  border-radius: 100px;
  margin: 0 auto;
}
.images-profiles {
  width: 275px;
  object-fit: cover;
  height: 280px;
}

#filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.filter {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  display: flex;

}
.filter .title-filter{
  width: 100%;
  align-self:   flex-end;
  font-family: Inter;
  font-weight: 400;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
border-radius: 0 10px 0 10px 0;
color: black;
}
.filter:hover {
  cursor: pointer;
}

.image-single {
  width: 500px;
}

#buttons-post-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.blur {
  width: 616px;
  height: 578px;
  position: absolute;
  left: 39.21%;
  right: 27.99%;
  top: 49.17%;
  bottom: -5.7%;
  z-index: -2;
  background: linear-gradient(
    180deg,
    rgba(0, 194, 255, 0.46) 0%,
    rgba(51, 0, 255, 0.28) 100%
  );
  filter: blur(200px);
}
/*BUTTON RESET*/
.btn-reset {
  padding: 5px 25px 5px 25px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #e0e6ef;
  box-sizing: border-box;
  color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

/*FILTERS*/
.filter[data-filter="audrey"] {
  background: url("../img/thumbnails/audrey.png");
  background-size: cover;
 
}
.filter[data-filter="hairspray"] {
  background: url("../img/thumbnails/hairspray.png");
  background-size: cover;
}
.filter[data-filter="aurora"] {
  background: url("../img/thumbnails/aurora.png");
  background-size: cover;
}

.filter[data-filter="eucalyptus"] {
  background: url("../img/thumbnails/eucalyptus.png");
  background-size: cover;
}

.filter[data-filter="primavera"] {
  background: url("../img/thumbnails/primavera.png");
  background-size: cover;
}

.filter[data-filter="red_rock"] {
  background: url("../img/thumbnails/red_rock.png");
  background-size: cover;
}

.filter[data-filter="sizzle"] {
  background: url("../img/thumbnails/sizzle.png");
  background-size: cover;
}



.filter[data-filter="ukulele"] {
  background: url("../img/thumbnails/ukulele.png");
  background-size: cover;
}

.filter[data-filter="zorro"] {
  background: url("../img/thumbnails/zorro.png");
  background-size: cover;
}
.ranges div{
 margin-top: 5px;
} 