.post {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(100px);
  border-radius: 32px;
}

.media {
  align-content: center;
}

.user-name-post a {
  color: black;
  padding: 5px 20px 5px 20px;
  border-radius: 4px;
  background: #ffffff;
  color: black;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9em;
  filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.05));
}

.img-block img {
  width: 770px;
  height: 600px;
  object-fit: cover;
  border-radius: 10px;
}

.user-name-post {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 100px 22px 63px;
  align-items: center;
  gap: 10px;
}

.like-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 10px;
  width: 100%;
  padding: 21px 100px 22px 63px;
}

.likes-count {
  padding-left: 7px;
  font-weight: 600;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  object-fit: cover;
}

.desc-post {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
