#modal {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-overlay {
  background: rgba(44, 42, 42, 0.664);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.modal-window {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 800px;
  position: relative;
  top: 100px;
  padding: 20px;
  text-align: left;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title h2 {
  margin-top: 0;
  font-size: 2.5rem;
  padding-left: 10px;
}

.close {
  float: right;
  padding-right: 10px;
  cursor: pointer;
  font-size: 30px;
  color: gray;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  gap: 50px;
}

.content img {
  width: 350px;
  height: 350px;
}

.modalDetail {
  padding-top: 20px;
  font-size: 1.2rem;
}

.joinBtn {
  text-align: center;
  margin: 20px 0;
}

.modalJoin {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
