/* Minyoung edited : Starts from here */

@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

* {
  font-family: "Inter";
}

a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.main-container {
  margin: 0 auto;
  width: 960px;
}

.headerDivs {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

#irongramLogo {
  width: 120px;
}

.search-form {
  width: 300px;
  height: 40px;
  background-color: rgba(232, 217, 217, 0.3);
  display: flex;
  position: relative;
  margin-left: 50px;
  border-radius: 15px;
}

.magnifying {
  position: absolute;
  height: 20px;
  margin-left: 15px;
  margin-top: 9px;
  z-index: 1;
}

.search-input {
  background: transparent;
  border: 0px;
  width: 100%;
  padding: 10px;
  margin-left: 35px;
}

.headerIcons {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 25px;
}

.headerIcons a {
  color: black;
}

.headerIcons a:hover {
  color: #2bc5fa;
}

.headerIcons a:active {
  color: #2bc5fa;
}

body {
  background-color: #fafafa;
  padding: 0 200px;
  margin-top: 100px;
}

/* Event preview nav */

.eventPreview {
  background-color: white;
  border: 2px solid lightgray;
  padding: 15px;
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin-bottom: 30px;
}

.oneEventPreview {
  width: 86px;
  height: 86px;
  border: 3px solid #c62d8f;
  border-radius: 50%;
  text-align: center;
}

.oneEventPreview img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  border: 3px solid white;
}
