body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* Event CSS : Starts from here (Minyoung edited) */

/* * {
  border: 1px solid grey;
} */

.eventDiv {
  display: flex;
  flex-direction: row;
  margin: 20px;
  gap: 15px;
  height: 300px;
}

.eventImg {
  width: 300px;
  object-fit: cover;
}

/* Event CSS : Finishs here (Minyoung edited) */
