body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* Event CSS : Starts from here (Minyoung edited) */

.eventDiv {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}
.eventImg {
  width: 150px;
}

/* Event CSS : Finishs here (Minyoung edited) */
