<h1>Let's play!</h1>

<div class="gameList">
  <a href="https://minniejung.github.io/project1_minyoung/" target="_blank">
    <div class="game">
      <p>Whac a mole !</p> 
      <img src="/img/min.JPG">
    </div>
  </a>

  <a href="https://melsh96.github.io/GAME-OF-BOXES/" target="_blank">
    <div class="game">
      <p>Game of Boxes</p>
      <img src="/img/mel.JPG">
    </div>
  </a>

  <a href="https://oyo1505.github.io/breakout-video-game-ironhack-project-1/" target="_blank">
    <div class="game">
      <p>Break Out</p>
      <img src="/img/hp.JPG">
    </div>
  </a>
</div>